/*index*/
.login100-form-title {
	font-size: 48px;
}
h2.login100-form-title {
	font-size: 32px;
}
h2.login100-form-title a {
	font-size: 32px;
	color: black;
}

.options {
	/*display: block;*/
}
.input100 {
    padding: 0 5px 0 174px;
}

.generate-word {
/*	display: none;
*/	padding: 0;
	font-size: 48px;
}
.display {
	/*display: none;*/
}

.block {
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
   	height: 324px;
	font-size: 112px;
}
.like {
	color: #0ad40a;
}
.bad {
	color: #ff4747;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 150px;
	background-color: #8892b080;
}
.result {
	width: 200px;
	text-align: center;
}
.result h2 {
	color: #ff8c00;
}
.result input {
    visibility: hidden;
    position: absolute;
}
.menu a {
	color: black;
	font-size: 48px;
}
/*end*/

/*login*/
.container-login100 {
	background-image: url('../img/fon.jpg');
}
.wrap-login100 {
	width: 480px;
	height: 800px;
}
.container-login100::before {
    background-color: rgba(255,255,255,0.7);
}
.txt1 {
	font-size: 32px;
}
/*end*/

/*List*/
.list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.table-container {
	height: 68%;
    overflow: overlay;
}
td {
    text-align: center;
    font-size: 24px;
    color: #f3e703;
}
/*end*/






/*scroll*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9e00ff40; 
    border-radius: 5px;
}